{% extends 'base.html' %}

{% block title %}{{ top_title }}{% endblock %}

{% block content %}

    <div class="forms-container">
        <div class="form-box">
            <h2>Фильтровать задачи</h2>
            <form method="get">
                {{ form.as_p }}
                <button type="submit">Фильтровать</button>
            </form>
        </div>
    
        <div class="form-box">
            <h2>Добавить задачу</h2>
            <form method="post">
                {% csrf_token %}
                {{ post_form.as_p }}
                <button type="submit">Добавить</button>
            </form>
        </div>
    </div>

    <hr>

    <h2>Все задачи:</h2>
        <ul type="square">
            {% for task in tasks %}
                <li>
                    <a href="{% url 'task_pk' task.pk %}">{{ task.title }} — {% if task.completed %}✔ Выполнено{% else %}✗ В процессе{% endif %}</a>
                </li>
            {% empty %}
                <li>Нет задач по вашему запросу.</li>
            {% endfor %}
        </ul>
{% endblock %}

{% block navi %}
<nav class="pagination">
    <ul>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">←</a></li>
        {% endif %}

        {% for page in paginator.page_range %}
            {% if page == page_obj.number %}
                <li><a class="active" href="?page={{ page }}">{{ page }}</a></li>
            {% elif page >= page_obj.number|add:"-2" and page <= page_obj.number|add:"2" %}
                <li><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">→</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}